.footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 30px 10px;
    font-size: 0.875rem;
    margin-top: 50px;
    height: 150px;
    justify-content: space-between;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    display: inline-block;
}

.footer a:hover {
    text-decoration: underline;
}
.Legal{
   display: block;
   justify-content: left;
}

.idioma {
    display: flex;
    justify-content: right;
    text-decoration: none;
}

.dosmil19{
    display:flex;
    justify-content: flex-end;
    
}

.copy{
    text-decoration: none;
    color: white
}

.español{
    text-decoration: none;
    color: white
}